@import "color";

header {
  background: url("../../images/desktop/image-header.jpg");
  width: 100%;
  min-height: 590px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2em 1em 1.5em 1em;

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.5em;
    position: relative;

    .hamburger-menu {
      cursor: pointer;
    }

    .nav {
      position: absolute;
      bottom: -17.5em;
      left: 0;
      background-color: $white;
      width: 100%;
      padding: 2.3em 2em;
      z-index: 99;
      display: none;

      &::before {
        content: "";
        position: absolute;
        top: -1.4em;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 30px solid $white;
        border-left: 30px solid transparent;
      }

      ul {
        text-align: center;

        li {
          margin-bottom: 1.2em;

          a {
            color: $dark-grayish-blue;
          }

          &:last-child {
            margin-bottom: 0;

            a {
              background-color: $yellow;
              color: $very-dark-desaturated-blue;
              padding: 0.9em 1.3em;
              border-radius: 1.5rem;
            }
          }
        }
      }
    }

    nav.open-menu {
      display: block;
    }
  }

  .hero-area {
    h1 {
      text-align: center;
      color: $white;
      font-size: clamp(2.5rem, 5vw, 3.5rem);
      text-transform: uppercase;
      letter-spacing: 5px;
      word-spacing: 5px;
      margin-bottom: 1.4em;
      font-weight: 900;
    }

    .arrow-down {
      img {
        margin: 0 auto;
      }
    }
  }
}

.container {
  .brand-area {
    .brand-text {
      padding: 3.5em 1.5em;

      .brand-text-inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          text-align: center;
          margin: 0 0.5em;
          font-size: clamp(2rem, 5vw, 2.8rem);
          color: $very-dark-desaturated-blue;
          font-weight: 900;
          margin-bottom: 1em;
        }

        p {
          color: $dark-grayish-blue;
          line-height: 1.7;
          text-align: center;
          margin-bottom: 1.5em;
        }

        a {
          font-family: "Fraunces", serif;
          text-transform: uppercase;
          color: $very-dark-desaturated-blue;
          position: relative;
          z-index: 1;

          &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
            width: 114%;
            height: 12px;
            border-radius: 5px;
            background-color: $yellow;
            z-index: -1;
            opacity: 0.4;
          }
        }
      }
    }
  }

  .audience-area {
    .audience-text {
      padding: 3.5em 1.5em;

      .audience-text-inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          text-align: center;
          margin: 0 0.5em;
          font-size: clamp(2rem, 5vw, 2.8rem);
          color: $very-dark-desaturated-blue;
          font-weight: 900;
          margin-bottom: 1em;
        }

        p {
          color: $dark-grayish-blue;
          line-height: 1.6;
          text-align: center;
          margin-bottom: 1.5em;
        }

        a {
          font-family: "Fraunces", serif;
          text-transform: uppercase;
          color: $very-dark-desaturated-blue;
          position: relative;
          z-index: 1;

          &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
            width: 114%;
            height: 12px;
            border-radius: 5px;
            background-color: $soft-red;
            z-index: -1;
            opacity: 0.4;
          }
        }
      }
    }
  }

  .design-photography-area {
    .graphic-design-area {
      position: relative;

      .graphic-design-text {
        position: absolute;
        bottom: 8%;
        left: 0;
        margin: 0 1.5em;
        text-align: center;
        color: $very-dark-desaturated-blue;

        h2 {
          text-align: center;
          font-size: clamp(1.9rem, 5vw, 2.1rem);
          font-weight: 900;
          margin-bottom: 0.9em;
        }

        p {
          line-height: 1.6;
        }
      }
    }

    .photography-area {
      position: relative;

      .photography-text {
        position: absolute;
        bottom: 8%;
        left: 0;
        margin: 0 1.5em;
        text-align: center;
        color: $very-dark-desaturated-blue;

        h2 {
          text-align: center;
          font-size: clamp(1.9rem, 5vw, 2.1rem);
          font-weight: 900;
          margin-bottom: 0.9em;
        }

        p {
          line-height: 1.6;
        }
      }
    }
  }

  .client-testimonials {
    padding: 4em 1.5em;
    text-align: center;

    h2 {
      font-size: 1.3rem;
      color: $dark-grayish-blue;
      text-transform: uppercase;
      letter-spacing: 1px;
      word-spacing: 1px;
      margin-bottom: 3em;
    }

    .card-area {
      .testimonial-card {
        margin-bottom: 3.5em;

        &:last-child {
          margin-bottom: 0;
        }

        .client-img {
          width: 65px;
          border-radius: 50%;
          margin: 0 auto;
          margin-bottom: 1.6em;

          img {
            border-radius: 50%;
          }
        }

        p {
          line-height: 1.6;
          color: $very-dark-grayish-blue;
          margin-bottom: 1.1em;
        }

        .client-info {
          .client-name {
            font-weight: 900;
            color: $very-dark-desaturated-blue;
            margin-bottom: 0.25em;
          }

          .client-status {
            font-size: 0.9rem;
            color: $grayish-blue;
          }
        }
      }
    }
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;

    .gallery-img {
      width: 50%;
    }
  }
}

footer {
  background-color: $moderate-cyan;
  padding: 3em 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-logo {
    margin-bottom: 1.5em;

    svg {
      path {
        fill: $dark-desaturated-cyan;
      }
    }
  }

  .footer-links {
    margin-bottom: 3em;

    ul {
      display: flex;
      gap: 2em;

      a {
        color: $dark-moderate-cyan;
      }
    }
  }

  .footer-socials {
    display: flex;
    gap: 1em;
  }
}

.attribution {
  font-size: 12px;
  text-align: center;
  background-color: $moderate-cyan;
  padding: 1.5em;
  color: $very-dark-desaturated-blue;

  a {
    color: $dark-desaturated-cyan;
  }
}

@media (min-width: 968px) {
  header {
    min-height: 90vh;
    padding: 2em 2em 1.5em 2em;

    .menu {
      margin-bottom: 6em;
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;

      .hamburger-menu {
        display: none;
      }

      .nav {
        position: static;
        background-color: transparent;
        padding: 0;
        display: block;

        &::before {
          display: none;
        }

        ul {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 2em;

          li {
            margin-bottom: 0;

            a {
              color: $white;
            }

            &:last-child {
              a {
                background-color: $white;
                transition: 0.2s ease-in-out;

                &:hover {
                  background-color: rgba(255, 255, 255, 0.4);
                  color: $white;
                }
              }
            }
          }
        }
      }
    }

    .hero-area {
      h1 {
        margin-bottom: 2em;
      }
    }
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;

    .brand-area {
      display: flex;
      flex-direction: row-reverse;

      .brand-text {
        padding: 1em;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .brand-text-inner {
          align-items: flex-start;
          width: 85%;

          h2 {
            text-align: left;
            margin: 0;
            margin-bottom: 0.7em;
          }

          p {
            text-align: left;
          }

          a {
            &::after {
              transition: 0.2s ease-in-out;
            }

            &:hover::after {
              opacity: 1;
            }
          }
        }
      }

      .brand-img {
        width: 50%;
      }
    }

    .audience-area {
      display: flex;

      .audience-text {
        padding: 1em;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .audience-text-inner {
          align-items: flex-start;
          width: 85%;

          h2 {
            text-align: left;
            margin: 0;
            margin-bottom: 0.7em;
          }

          p {
            text-align: left;
          }

          a {
            &::after {
              transition: 0.2s ease-in-out;
            }

            &:hover::after {
              opacity: 1;
            }
          }
        }
      }

      .audience-img {
        width: 50%;
      }
    }

    .design-photography-area {
      display: flex;

      .graphic-design-area {
        .graphic-design-text {
          bottom: 9%;
          left: 50%;
          transform: translateX(-50%);
          margin: 0;
          width: 60%;
        }
      }

      .photography-area {
        .photography-text {
          bottom: 9%;
          left: 50%;
          transform: translateX(-50%);
          margin: 0;
          width: 59%;
        }
      }
    }

    .client-testimonials {
      padding: 7em 1.5em;

      h2 {
        font-size: 1.4rem;
        margin-bottom: 5em;
      }

      .card-area {
        display: flex;
        justify-content: space-between;
        .testimonial-card {
          width: 28%;

          .client-img {
            width: 80px;
            margin-bottom: 2.5em;
          }

          p {
            margin-bottom: 2.5em;
          }
        }
      }
    }

    .gallery {
      .gallery-img {
        width: 25%;
      }
    }
  }

  footer {
    .footer-links {
      ul {
        a {
          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  .attribution {
    font-size: 14px;
    padding: 1.5em;
    padding-bottom: 2.5em;
  }
}
